.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: black;
    }

    &.google-sign-in {
      background-color: rgb(21, 104, 182);
      float: right;

      &:hover {
        background-color: rgb(51, 141, 226);
        color: #fff;
      }
    }
  }



button {
    font-family: inherit;
}